html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body.mirror {
  background-color: #000;
}
.mirror-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.mirror-container .mirror-img-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.mirror-container .mirror-img-container img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  max-height: 80vh;
}
.mirror-container .mirror-caption {
  color: #aaa;
  margin-top: 30px;
  font-family: Baskerville, Georgia, serif;
  font-size: 21px;
  display: block;
  text-align: center;
}
.mirror-container .mirror-iframe-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 768px;
  height: 432px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flickity-page-dots {
  display: none;
}
.flickity-prev-next-button {
  background: transparent;
  height: 100vh;
  padding: 0 50px;
  border-radius: 0;
  right: 0;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.flickity-prev-next-button:hover {
  background: transparent;
}
